<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4"
        src="https://us.123rf.com/450wm/get4net/get4net2112/get4net211227273/179639637-auth0-la-soluci%C3%B3n-que-necesita-para-aplicaciones-web-m%C3%B3viles-iot-e-internas-.jpg?ver=6" alt="" height="100px"
        height="57">
    <h1 class="display-5 fw-bold"><font style="vertical-align: inherit;"><font
                style="vertical-align: inherit;">Login Auth0</font></font></h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">Esta es una App stack Mean con con Angular, Nodejs, MongooDb y express 
                    JavaScript.</font></font></p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" (click)="login()" class="btn btn-primary btn-lg px-4 gap-3"><font
                    style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Login</font></font></button>
            
        </div>
    </div>
</div>